.js-refusals-wizard {
    max-width: 48rem;
}

.js-refusals-wizard-question {
    border-top: $border-width solid $border-color;

    &:first-child {
        border-top: none;
    }

    .form-group {
        margin: 1rem 0;
    }
}
