---
layout: default
---

<div class="container">

    <header class="mb-4">
        <h1 class="h3">FOI request refused?</h1>
        <p>Find out what your options are.</p>
    </header>

    <form class="js-refusals-chatbot mb-5">

        {%- assign questions = site.data[page.questions] | where_exp:"item","item.options" -%}
        {%- assign q = questions[0] -%}
        {% include chatbot-card.html id=q.id label=q.label hint=q.hint remaining=4 progress=20 %}
        {%- assign q = questions[1] -%}
        {% include chatbot-card.html id=q.id label=q.label hint=q.hint remaining=5 progress=17 classes="d-none" %}
        {%- assign q = questions[3] -%}
        {% include chatbot-card.html id=q.id label=q.label hint=q.hint remaining=6 progress=25 classes="d-none" %}
        {%- assign q = questions[4] -%}
        {% include chatbot-card.html id=q.id label=q.label hint=q.hint remaining=5 progress=38 classes="d-none" %}

        <h2 class="h5 mt-5 mb-3">Next steps</h2>

        <div class="alert alert-warning p-4 my-4 collapse js-chatbot-finale-show">
            <h1 class="h3 mb-3">You have grounds for an internal review</h1>
            <ol>
                <li>
                    <p>Time taken to consider whether exemptions apply or to redact parts of the information, should not be included in the calculation of costs used to apply a Section 12 exemption (see points 14 and 15 of <a href="#">this ICO guidance PDF</a>).</p>
                </li>
            </ol>
            <p>Request an internal review now, or continue answering questions to see whether you have any additional grounds to strengthen your case.</p>
            <button type="submit" class="btn btn-primary">Help me request an internal review</a>
        </div>

        <h2 class="h5 mt-5 mb-3 collapse js-chatbot-finale-show">Other routes</h2>

        <a class="default-suggestion collapse show js-chatbot-finale-hide" href="#">
            {% include arrow-right.html classes="mr-2" %}
            Request an internal review
        </a>

        <a class="default-suggestion" href="#">
            {% include arrow-right.html classes="mr-2" %}
            Reply for more clarification
        </a>

        <a class="default-suggestion" href="#">
            {% include arrow-right.html classes="mr-2" %}
            Refer your request to the Information Commissioner
        </a>

        <a class="default-suggestion" href="#">
            {% include arrow-right.html classes="mr-2" %}
            Make a new request
        </a>

        <a class="default-suggestion" href="#">
            {% include arrow-right.html classes="mr-2" %}
            Write to your MP
        </a>

    </form>

</div>
