---
layout: default
---

<div class="bg-light pt-5 mb-4 border-bottom">
    <div class="container">
        <ul class="nav nav-tabs" style="border-bottom: none">
            <li class="nav-item">
                <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Example questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.url == '/section-12' %}active{% endif %}" href="{{ '/section-12' | relative_url }}">Section 12</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">

    <form class="js-refusals-wizard">

      <!-- All the questions first -->
      {% for q in site.data[page.questions] %}
      {% if q.options %}
        <div
          class="js-refusals-wizard-question {% if q.show_if -%} d-none {%- endif %}"
          {% if q.show_if -%}
            data-showif-id="{{ q.show_if[0].id | slugify }}"
            data-showif-operator="{{ q.show_if[0].operator }}"
            data-showif-value="{{ q.show_if[0].value }}"
          {%- endif %}
          data-question-id="{{ q.id | slugify }}"
        >
            <fieldset class="form-group">
                <legend class="form-label">{{ q.label }}</legend>
              {% for option in q.options %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="{{ q.id | slugify }}_{{ option.value | slugify }}" name="{{ q.id | slugify }}" value="{{ option.value }}">
                    <label class="form-check-label" for="{{ q.id | slugify }}_{{ option.value | slugify }}">{{ option.label }}</label>
                </div>
              {% endfor %}
            </fieldset>
        </div>
      {% endif %}
      {% endfor %}

      <!-- And then all the suggestions -->
      {% for q in site.data[page.questions] %}
      {% unless q.options %}
        <div
          class="mt-3 alert {% if q.next_steps %} alert-success {% else %}alert-info{% endif %} {% if q.show_if -%} d-none {%- endif %}"
          {% if q.show_if -%}
            data-showif-id="{{ q.show_if[0].id | slugify }}"
            data-showif-operator="{{ q.show_if[0].operator }}"
            data-showif-value="{{ q.show_if[0].value }}"
          {%- endif %}
          data-question-id="{{ q.id | slugify }}"
        >
            <p class="mb-0"><strong>{{ q.label }}</strong></p>
           {% if q.next_steps %}
            <p class="mb-0 mt-3">
              {% for next_step in q.next_steps %}
                <a href="#{{ next_step.template_path }}" class="btn btn-primary">
                  {%- if next_step.type == 'internal_review' -%}
                    Request an internal review
                  {%- elsif next_step.type == 'reply' -%}
                    Send a reply
                  {%- endif -%}
                </a>
              {% endfor %}
            </p>
          {% endif %}
        </div>
      {% endunless %}
      {% endfor %}
    </form>

</div>